In [1]:
import numpy as np
import pandas as pds

In [2]:
#loading the data from csv file to a pandas Dataframe

df = pds.read_csv("spam.csv",encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
df.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [6]:
data = df.where((pds.notnull(df)), ' ')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
#no of rows and columns 
data.shape

(5572, 5)

In [9]:
#spam ones labelled as 0, ham ones as 1
data.loc[data['v1'] == 'spam ' , 'v1',] = 0
data.loc[data['v1'] == 'ham' , 'v1'] == 1

0       False
1       False
3       False
4       False
6       False
        ...
5565    False
5568    False
5569    False
5570    False
5571    False
Name: v1, Length: 4825, dtype: bool

In [10]:
x= data['v2']
y = data['v1']

In [11]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [12]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [13]:
#splitting data into testing and training data 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=3)

In [14]:
print(x_train.shape)
x_test.shape

(4457,)

(1115,)

In [15]:
x.shape

(5572,)

In [16]:
#text data ---> transform to feauture vectors  and then train values to int
from sklearn.feature_extraction.text import TfidfVectorizer

feature_extraction =  TfidfVectorizer(min_df = 1, stop_words='english', lowercase=True)
train_f = feature_extraction.fit_transform(x_train)
test_f = feature_extraction.fit_transform(x_test)

In [17]:
print(x_train)

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: v2, Length: 4457, dtype: object

In [18]:
print(y_train)

3075    ham
1787    ham
1614    ham
4304    ham
3266    ham
       ...
789     ham
968     ham
1667    ham
3321    ham
1688    ham
Name: v1, Length: 4457, dtype: object

In [19]:
print(train_f)

  (0, 741)	0.3219352588930141
  (0, 3979)	0.2410582143632299
  (0, 4296)	0.3891385935794867
  (0, 6599)	0.20296878731699391
  (0, 3386)	0.3219352588930141
  (0, 2122)	0.38613577623520473
  (0, 3136)	0.440116181574609
  (0, 3262)	0.25877035357606315
  (0, 3380)	0.21807195185332803
  (0, 4513)	0.2909649098524696
  (1, 4061)	0.380431198316959
  (1, 6872)	0.4306015894277422
  (1, 6417)	0.4769136859540388
  (1, 6442)	0.5652509076654626
  (1, 7443)	0.35056971070320353
  (2, 933)	0.4917598465723273
  (2, 2109)	0.42972812260098503
  (2, 3917)	0.40088501350982736
  (2, 2226)	0.413484525934624
  (2, 5825)	0.4917598465723273
  (3, 6140)	0.4903863168693604
  (3, 1599)	0.5927091854194291
  (3, 1842)	0.3708680641487708
  (3, 7453)	0.5202633571003087
  (4, 2531)	0.7419319091456392
  :	:
  (4452, 2122)	0.31002103760284144
  (4453, 999)	0.6760129013031282
  (4453, 7273)	0.5787739591782677
  (4453, 1762)	0.45610005640082985
  (4454, 3029)	0.42618909997886
  (4454, 2086)	0.3809693742808703
  (4454, 3088)	0.34475593009514444
  (4454, 2001)	0.4166919007849217
  (4454, 1049)	0.31932060116006045
  (4454, 7346)	0.31166263834107377
  (4454, 5370)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6433)	0.38998123077430413
  (4455, 6361)	0.25697343671652706
  (4455, 2764)	0.3226323745940581
  (4455, 7358)	0.2915949626395065
  (4455, 7407)	0.3028481995557642
  (4455, 2108)	0.3136468384526087
  (4455, 4251)	0.30616657078392584
  (4455, 3763)	0.16807158405536876
  (4455, 4773)	0.35860460546223444
  (4456, 6117)	0.5304350313291551
  (4456, 6133)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4557)	0.48821933148688146

In [20]:
print(test_f)

  (0, 1840)	0.5470775878936475
  (0, 2563)	0.5149396017383439
  (0, 633)	0.6599570587439945
  (1, 2813)	0.1623769474001259
  (1, 121)	0.26958776220642855
  (1, 22)	0.23137073373406264
  (1, 1205)	0.15919444481136824
  (1, 1394)	0.4137552551149475
  (1, 2335)	0.25837851868099354
  (1, 2224)	0.26958776220642855
  (1, 3106)	0.2496839539259005
  (1, 2801)	0.26958776220642855
  (1, 1428)	0.26958776220642855
  (1, 1)	0.2226761689789696
  (1, 238)	0.26958776220642855
  (1, 210)	0.21557219231256677
  (1, 2261)	0.26958776220642855
  (1, 1714)	0.2496839539259005
  (2, 2835)	0.39312526272940845
  (2, 1223)	0.43336283778599577
  (2, 2860)	0.3362295403293851
  (2, 1225)	0.5554066201719753
  (2, 1729)	0.48592423391824763
  (3, 2010)	0.28009022728448785
  (3, 1336)	0.23561627348325437
  :	:
  (1111, 2594)	0.4675085813886858
  (1111, 2942)	0.4099856948072808
  (1111, 1375)	0.4169391674217092
  (1112, 2080)	0.4448076693011006
  (1112, 1131)	0.40271290258485304
  (1112, 1455)	0.3780890425792432
  (1112, 876)	0.3412784690600004
  (1112, 1833)	0.36061813586860547
  (1112, 1166)	0.36061813586860547
  (1112, 1375)	0.3470666478149159
  (1113, 1368)	0.51943338953615
  (1113, 2461)	0.49783576466290197
  (1113, 690)	0.4093486780362815
  (1113, 2941)	0.42189020147342104
  (1113, 1677)	0.3698524340168047
  (1114, 43)	0.375324192528308
  (1114, 126)	0.375324192528308
  (1114, 1195)	0.375324192528308
  (1114, 1499)	0.3398050560164142
  (1114, 2966)	0.2756093698144069
  (1114, 2365)	0.3545468296108545
  (1114, 3139)	0.28796730512426183
  (1114, 2146)	0.2720739486377487
  (1114, 979)	0.24388776902562068
  (1114, 1205)	0.20936367896519026

Training the model using LogisticRegression

In [21]:
#importing modules for model train
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [22]:
mod = LogisticRegression()
mod.fit(train_f,y_train)

LogisticRegression()

In [23]:
#accuracies on training data
train_data = mod.predict(train_f)
acc_train = accuracy_score(y_train,train_data)
print("Accuracy on training data : ",acc_train)

Accuracy on training data :  0.9661207089970832

In [24]:
#to make sure model willnot lose data
mod.fit(test_f,y_test)

LogisticRegression()

In [25]:
#accuracies on testing data
test_data = mod.predict(test_f)
acc_test = accuracy_score(y_test,test_data)
print("Accuracy on testing data : ",acc_test)

Accuracy on testing data :  0.9165919282511211

In [26]:
Input_Mail = ["URGENT! We are trying to contact you. Last weekends draw shows that you have won a 螢900 prize GUARANTEED. Call 09061701939. Claim code S89. Valid 12hrs only"]

# convert text to feature vectors
Input_Data_features = feature_extraction.transform(Input_Mail)

# making prediction

prediction_on_input = mod.predict(Input_Data_features)
print(prediction_on_input)


if (prediction_on_input[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

['spam']
Spam mail